.flash {
  transition-duration: 1s;
  padding: 10px 20px;
  background-color: #000;
  color: #FFF;
  border: none;
}
.flash:hover {
  transition-duration: 1s;
}
.hover:hover {
  background-color: #ffff00;
  color: #000;
}
/*Slides*/
.slide-left:hover {
  box-shadow: inset -115px 0px 0px 0px #ffff00;
  color: #000;
  border: none;
}
.slide-right:hover {
  box-shadow: inset 115px 0px 0px 0px #ffff00;
  color: #000;
  border: none;
}
.slide-down:hover {
  box-shadow: inset 0px 40px 0px 0px #ffff00;
  color: #000;
  border: none;
}
.slide-up:hover {
  box-shadow: inset 0px -40px 0px 0px #ffff00;
  color: #000;
  border: none;
}
